<label>
  Barcode
  <Input @value={{this.barcode}} class="border border-black" data-barcode />
</label>

<label>
  Latitude
  <Input @value={{this.latitude}} class="border border-black" data-latitude />
</label>

<label>
  Longitude
  <Input @value={{this.longitude}} class="border border-black" data-longitude />
</label>

<button onclick={{action "locate"}} class="bg-black text-white text-sm p-2" data-locate>Locate</button>

{{#if this.latitude}}
  a map?
  <LeafletMap @lat={{this.latitude}} @lng={{this.longitude}} @zoom="15" class="w-64 h-64" as |layers|>
    <layers.tile @url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"/>

    <layers.marker @lat={{this.latitude}} @lng={{this.longitude}} as |marker|>
      <marker.popup>
        You?
      </marker.popup>
    </layers.marker>

  </LeafletMap>
{{/if}}

{{#if this.barcodePhoto}}
  <img src={{this.barcodePhoto}} alt="scanned barcode">
{{/if}}

<BarcodeReader @onBarcodeCaptured={{action (mut this.barcodePhoto)}} @onBarcodeRead={{action (mut this.barcode)}} @onError={{action (mut this.error)}} />

<button onclick={{action "save"}} class="bg-black text-white text-sm p-2" data-save>Save</button>
