<div class="w-screen p-4">
  <label>
    Lat
    <Input @value={{this.latitude}} class="border border-black" data-latitude />
  </label>
  <br>
  <label>
    Lon
    <Input @value={{this.longitude}} class="border border-black" data-longitude />
  </label>
  <br>
  <button onclick={{action "locate"}} class="bg-black text-white text-sm p-2" data-locate>
    {{fa-icon "crosshairs"}}
  </button>

  {{#if this.latitude}}
    <LeafletMap @lat={{this.latitude}} @lng={{this.longitude}} @zoom="15" class="w-64 h-64" as |layers|>
      <layers.tile @url="http://a.tile.stamen.com/toner/{z}/{x}/{y}.png" @minZoom="14" @maxZoom="17" @useCache={{true}} />

      <layers.marker @lat={{this.latitude}} @lng={{this.longitude}} />

    </LeafletMap>
  {{/if}}

  <hr>

  <label>
    Barcode
    <Input @value={{this.barcode}} class="border border-black" data-barcode />
  </label>

  {{#if this.barcodePhoto}}
    <img src={{this.barcodePhoto}} alt="scanned barcode">
  {{/if}}

  <BarcodeReader @onBarcodeCaptured={{action (mut this.barcodePhoto)}} @onBarcodeRead={{action (mut this.barcode)}} @onError={{action (mut this.error)}} />

  <button onclick={{action "save"}} class="bg-black text-white text-sm p-2 w-full block" data-save>Save</button>
</div>