{{link-to "New" "poles.new" class="new"}}

<div class="flex h-full">
  <div class="overflow-y-scroll">
    <table>
      <thead>
        <tr>
          <th>barcode</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.model as |pole|}}
          <tr role="button" {{action (mut this.activePole) pole}}>
            <td>
              {{pole.barcode}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="flex-grow">
    {{#if this.positions}}
      <LeafletMap @bounds={{lat-lng-bounds this.positions}} class="w-full h-full" as |layers|>
        <layers.tile @url="http://a.tile.stamen.com/toner/{z}/{x}/{y}.png" @minZoom="14" @maxZoom="17" @useCache={{true}} />
        {{#each this.model as |pole|}}
          {{#if pole.latitude}}
            <layers.marker @lat={{pole.latitude}} @lng={{pole.longitude}} as |marker|>
              <marker.popup @popupOpen={{eq this.activePole pole}}>
                {{pole.barcode}}
                {{#each pole.photos as |photo|}}
                  <ImageAttachment @model={{pole}} @attachment={{photo}} />
                {{/each}}
              </marker.popup>
            </layers.marker>
          {{/if}}
        {{/each}}
      </LeafletMap>
    {{/if}}
  </div>
</div>