{{outlet}}

<button {{action "getUserMedia"}}>Request camera</button>

{{#if this.camera}}
  <video autoplay playsinline muted {{prop srcObject=this.camera}} {{did-insert this.startVideo}}></video>
{{/if}}

{{#if this.error}}
  An error occurred: {{this.error}}
{{/if}}