<Input @value={{this.destination}} />
<button onclick={{perform this.sync}}>Sync</button>

<ul>
  {{#each this.databases as |database|}}
    <li>
      <button onclick={{action (mut this.destination) database}} data-database>{{database}}</button>
    </li>
  {{/each}}
</ul>

{{#if this.sync.last.value}}
  <ul data-push>
    <li>push</li>
    <li>read: <span data-read>{{this.sync.last.value.push.docs_read}}</span></li>
    <li>written: <span data-written>{{this.sync.last.value.push.docs_written}}</span></li>
    <li>write failures: <span data-write-failures>{{this.sync.last.value.push.doc_write_failures}}</span></li>
  </ul>
  <ul data-pull>
    <li>pull</li>
    <li>read: <span data-read>{{this.sync.last.value.pull.docs_read}}</span></li>
    <li>written: <span data-written>{{this.sync.last.value.pull.docs_written}}</span></li>
    <li>write failures: <span data-write-failures>{{this.sync.last.value.pull.doc_write_failures}}</span></li>
  </ul>
{{/if}}