<div class="w-100 flex">
  <Input @value={{this.destination}} class="border border-black flex-grow" />
  <button onclick={{perform this.sync}} class="bg-black text-white text-sm p-2">Sync</button>
</div>

{{#if this.databases}}
  <h2>Synced databases</h2>
  <ul>
    {{#each this.databases as |database|}}
      <li>
        <a href="#" onclick={{action (mut this.destination) database}} data-database class="text-black text-xs">{{database}}</a>
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if this.sync.last.value}}
  <ul data-push>
    <li>push</li>
    <li>read: <span data-read>{{this.sync.last.value.push.docs_read}}</span></li>
    <li>written: <span data-written>{{this.sync.last.value.push.docs_written}}</span></li>
    <li>write failures: <span data-write-failures>{{this.sync.last.value.push.doc_write_failures}}</span></li>
    <li>errors: {{this.sync.last.value.push.errors}}</li>
  </ul>
  <ul data-pull>
    <li>pull</li>
    <li>read: <span data-read>{{this.sync.last.value.pull.docs_read}}</span></li>
    <li>written: <span data-written>{{this.sync.last.value.pull.docs_written}}</span></li>
    <li>write failures: <span data-write-failures>{{this.sync.last.value.pull.doc_write_failures}}</span></li>
    <li>errors: {{this.sync.last.value.pull.errors}}</li>
  </ul>
{{else if this.sync.last.error}}
  Error: {{this.sync.last.error}}
{{/if}}
